<!DOCTYPE html>
<html>
  <head>
    <title>多摩市生き物報告</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <form class='container' method='post' enctype='multipart/form-data'>
      <h3>多摩市の生き物情報をお寄せください</h3>

      <p class='bg-danger'><%= message %></p>

      <div class="form-group">
        <label for="filePhoto">写真</label>
        <input type="file", id="filePhoto", name='filePhoto', accept='image/*'/>
        <p class="help-block">生き物を写した写真があれば添付してください。</p>
      </div>

      <div class="form-group">
        <label for="textComment">コメント</label>
        <textarea class="form-control" name='report[comment]' rows="3" id='textComment'
          placeholder="アレチウリ、キショウブ、カヤネズミなど・・・"
        ></textarea>
        <p class="help-block">もし生き物の種類が分かっていれば記載してください。特になければ省略。</p>
      </div>

      <div class='form-group'>
        <label for="textPos">撮影場所</label>
        <input type='text' class='form-control' id='textPos' name='report[place]'
        placeholder="桜ヶ丘公園の富士見の丘、大栗川と乞田川の合流点、乞田大橋近くなど・・・"
        />
        <p class='help-block'>公園や道路、近くの目印、どこの町の何丁目など、おおよその場所を記入してください。</p>
      </div>

      <input type='submit' class='btn btn-primary form-control' value='送信'></input>

    </form>
  </body>
</html>
